/* REGISTER SECTION */
.register-section {
  padding-block: 50px 60px;
  background-color: var(--neutral-98);
}

.register-container {
  max-width: 500px;
  background-color: var(--neutral-100);
  padding: 32px;
  border-radius: var(--radius-large);
  box-shadow: var(--shadow-3);
  margin-inline: auto;
}

.register-title {
  text-align: center;
  margin-bottom: 24px;
  color: var(--neutral-10);
}

.register-form label {
  display: block;
  margin-bottom: 4px;
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-semiBold);
  color: var(--neutral-20);
}

.register-form input {
  width: 100%;
  padding: 12px;
  border-radius: var(--radius-medium);
  background-color: var(--neutral-95);
  border: none;
  margin-bottom: 20px;
  font-size: var(--fs-body-medium);
  color: var(--neutral-10);
}

.register-form input:focus {
  background-color: var(--neutral-90);
  outline: 2px solid var(--primary-100);
}

.register-btn {
  width: 100%;
}

.register-footer {
  text-align: center;
  margin-top: 20px;
  color: var(--neutral-60);
}

.register-footer a {
  color: var(--primary-100);
  font-weight: var(--weight-semiBold);
  text-decoration: none;
}

.register-footer a:hover {
  text-decoration: underline;
}

body {
  display: block !important;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

